@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="lvls">
    @foreach (var item in Model.planets)
    {
    <div class="container">
        <a asp-page="./Planet" asp-route-id="@item.Id">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
        </a>
    </div>
    }
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
