@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <img class="background" src="../img/finished_solar_system.png" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.planets[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.planets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Planet" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
