@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <canvas id="kaboomCanvas"></canvas>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
